p {color: rgb(255, 255, 255);
	font-family: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {color: hsl(0, 0%, 100%);
	font-family: 'Arial';
	font-size: 20px;
}

/* DEFINE IMAGEN; HOVER Y DATOS*/
.contenedor {
	width: 480px;
	height: 480px;
	margin: auto;
	position: relative;
	float: left;
	overflow: hidden;
	transition: all .5s;
	border-radius: 80px;
}

.contenedor:hover img{
	transform: scale(1.09);
	transition: all .5s;
}

.img_contenedor {
	width: 100%;
	min-width: 540px;
}

.texto_contenedor {
	background-color: rgba(29, 41, 58, 0.801);
	position: absolute;
	top:-95%;
	left:70px;
	text-align:justify;
	height:399px;
	width: 399px;
	border-radius: 75px;
}

.texto_contenedor h3 {
	text-align: center;
	font-size: 25px;
	font-family: 'Arial';
	font-style: italic;
	padding: 5px 5px;
}

.texto_contenedor p {
	padding: 1px 5px 1px 5px;
	font-family: 'Arial';
	font-style: italic;
}

.contenedor:hover .texto_contenedor {
	top:10px;
	transition: all .5s;
}
/*FIN DE IMAGEN; HOVER Y DATOS*/

/** DEFINE UN FORMULARIO*/
.bg_form {
	width: 400px;
	background: linear-gradient(rgba(35, 70, 67, 0.801), rgba(0, 0, 0, 0.801));
	padding: 30px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	font-family: 'arial';
	color: white;
	box-shadow: 7px -13px 37px black;
}

.form_titulo {
	font-size: 22px;
	margin-bottom: 20px;
}

.bg_inp {
	width: 95%;
	background: rgb(32, 32, 37);
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid rgb(35, 108, 245);
	font-family: 'arial';
	font-size: 18px;
	color: white;
}

.btn_registro p {
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	font-family: 'arial';
}

.btn_registro a {
	color:white;
	text-decoration: none;
}

.btn_registro a:hover {
	color:rgb(255, 0, 0);
	text-decoration: underline;
}

.form_registro_boton {
	width: 100%;
	background: rgb(42, 42, 80);
	border: none;
	border-radius: 4px;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
	transition: all 0.2s;
}

.form_registro_boton:hover {
	width: 100%;
	background: rgb(42, 80, 57);
	border: none;
	border-radius: 4px;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}
/*FIN DE FORMULARIO*/

/*DEFINE EL CUERPO*/
body {
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
    flex-basis: 100%;
    align-items: stretch;
	margin: 5px 5px 5px 5px;
}
/*FIN CUERPO*/

/*Dejo comentario referente a que la web no me esta saliendo del todo responsive
no se donde esta el error pero seguire trabajando en el tema*/

/*DEFINE SECCION PARA EL CONTENIDO*/
.secgeneral {
			padding: 10px 10px 10px 10px;
			flex-basis: 100%;
			margin: 25px auto;
			height: auto;
			box-shadow: 0px 2px 35px rgb(75, 74, 74);
}
/*FIN SECCION DE CONTENIDO*/

/*DEFINE SECCION REDES SOCIALES*/
.secsocial {
		position:fixed;
		right:0px;
		top: 65px;
		font-size: 1.5rem;
		display:flex;
		flex-direction: column;
		align-items:flex-end;
}

.icono {
		color:white;
		text-decoration: none;
		padding: .7rem;
		display: flex;
		transition: all .5s;
}

.icono_instagram {
	background: #3f60a5;
}

.icono_facebook {
	background: #2E406E;
}

.icono_twitter {
	background: #339DC5;
}

.icono_mail {
	background: rgb(41, 40, 40);
}

.icono:first-child {
	border-radius: 1rem 0 0 0;
}

.icono:last-child {
	border-radius: 0 0 0 1rem;
}

.icono:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
/*FIN SECCION REDES SOCIALES*/

/*DEFINE SECCION PRIMARIA*/
section {
	flex-basis: 100%;
	border: 0px;
	border-radius: 20px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	
}
/*FIN SECCION PRIMARIA*/

/* VER QUE HACER CON ESTO; ESPACCION ENTRE SECCIONES DE CONTENIDO*/
.espacio_section {
	border: 0px;
	width: 10px;
	height: 10px;
	flex-basis: 100%;
}

/*DEFINE CUSTOMIZACION SECCION CONTENIDOS*/
.bg_section {
	background: linear-gradient(rgba(16, 21, 29, 0.815), rgba(40, 48, 63, 0.815));
	margin: auto;
	padding: 10px 10px 10px 10px;
	width: 1024px;
	height: auto;
	box-shadow: 0px -1px 5px rgba(9, 230, 164, 0.87);
	border-radius: 20px;
}
/*FIN CUSTOMIZACION CONTENIDO*/

/*DEFINE CUSTOMIZACION FOTO RETRATO*/
.contenedor_retrato {
	width: 300px;
	height: 300px;
	margin: auto 25px;
	position:relative;
	box-shadow: 0px -1px 7px rgb(121, 25, 25);
	border-radius: 20px;
}

.img_retrato {
	width: 100%;
	min-width: 300px;
	border-radius: 20px;
}
/*FIN CUSTOMIZACION FOTO RETRATO*/

/*DEFINE TUTULO A UN LADO DEL RETRATO*/
.titulo_cont {
	display:flex;
	float:left;
	width: 700px;
	box-shadow: 0px -2px 7px rgb(52, 110, 106);
	/*background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(78, 1, 1, 0.801));*/
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
	margin-left: 150px;
	
}

.texto_cont {
	width: 650px;
	margin-right: 25px;
	margin-top: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	text-decoration: underline;
	text-decoration-color: rgb(0, 153, 255);
}
/*FIN TITULO A UN LADO DEL RETRATO*/

/*DEFINE UNA LIENA DE SEPARACION*/
.linea_img {
	width: 960px;
	background-position: center;
	padding-top: 25px;
}
/*FIN LINEA DE SEPARACION*/


/*DEFINE VIDEO DE FONDO*/
video {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top:50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	z-index:-1;
	flex-basis: 100%;
}
/*FIN VIDEO DE FONDO*/

/*MENU LATERAL DESPLEGABLE*/
#sidebar {
	top:25px;
	position: fixed;
	width: 200px;
	height: auto;
	background: linear-gradient(rgba(35, 70, 67, 0.801), rgba(19, 18, 18, 0.801));
	left:-200px;
	transition: all, .5s linear;
	border-radius: 0px 10px 10px 0px;
}

#sidebar.active {
	left: 0;
}

#sidebar ul li{
	color:rgba(255, 255, 255, 0.815);
	text-align:left;
	padding: 15px 10px;
	list-style: none;
	border-bottom: 1px solid rgb(109, 185, 160);
}

#sidebar .toggle-btn{
	position: absolute;
	left: 210px;
	top: 5px;
	cursor:pointer;
}

#sidebar .toggle-btn span {
	display: block;
	width: 40px;
	text-align: center;
	font-size: 30px;
	border: 1px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}
/*FIN MENU DESPLEGABLE*/




/* Dejo comentario referente a que hasta el momento llegue hasta aquí con el diseño y programacion web,
no pude dedicarle el suficiente tiempo, debido a que mi trabajo me demanda mucho tiempo, 
pero bueno seguire trabajando e investigando para mejorar, desde ya gracias.*/ 
