p {color: rgb(255, 255, 255);
	font-family: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {color: hsl(0, 0%, 100%);
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-large;
}

/** Define color de la/s forma/s*/
form {color:rgb(255, 0, 0);
		height: auto;
		width: 960px;
		margin: 25px auto;
		
}

.bg_form {
	background: linear-gradient(rgba(0, 0, 0, 0.815), hsla(138, 13%, 19%, 0.815));
	margin: auto;
	width: 960px;
	height: 80px;
	box-shadow: 1px 1px 10px rgba(92, 7, 7, 0.87);
	position: inherit;
}

/**Define el cuerpo*/
body {background-color: rgb(0, 0, 0);
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center center;
}

/** Seccion contenedoral, revisar no puedo ver imagen de fondo*/
.secgeneral {
        	background-image: url(img/23625b.jpg);
			margin: 25px auto;
			width: 1500px;
			height: auto;
			background: linear-gradient(rgb(2, 75, 44), rgb(2, 37, 82));
			box-shadow: 1px 1px 15px rgb(255, 255, 255);
}

/** Secccion redes sociales*/
.secsocial {
			height: 50px;
			width: 200px;
			float: right;
			margin: 5px;
			background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(75, 67, 1, 0.815));
			box-shadow: 1px 1px 10px rgba(137, 139, 12, 0.87);
}

/** Define y crea las secciones*/
section {
	border: 1px solid white;
	border-radius: 2em;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
}

/** Define el espacio entre secciones*/
.espacio_section {
	border: 0px;
	width: 10px;
	height: 10px;
}

/** Define color de fondo de la primer seccion, ver si se definen el resto de las secciones*/
.bg_section {
	background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(42, 54, 56, 0.815));
	margin: auto;
	width: 1024px;
	height: auto;
	box-shadow: 1px 1px 10px rgba(92, 7, 7, 0.87);
}

/** Define un circulo para futura foto, ver como insertarla*/
.sec_foto {
	width: 150px;
	height: 150px;
	margin:auto ;
	float: initial;
	border-radius: 50%;
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.87);
}
/** Customisa foto*/
.imagen_retrato { 
			height: 150px;
			width: 150px;
			float:initial;
			border-radius: 50%;
}

/** Define algo de las listas*/
.lista {
		font-size: 20px;
		color:lightblue;
		font-family:Arial, Helvetica, sans-serif;
		text-align: left;
}

/** Define lista redes sociales*/
.lista_redes_sociales {text-align: left;
						color:lightblue;
}