/*MEDIA*/
/*A continuación, dejo un comentario referente a adaptar mi pagina web o hacerla responsive, 
es algo que me esta costando hacer, pero voy a seguir investigando y 
probando opciones para hacer una web responsive.*/
    
@media only screen and (max-width: 600px) {
    .bg_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(16, 21, 29, 0.815), rgba(40, 48, 63, 0.815));
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
    height: auto;
    box-shadow: 0px -1px 15px rgb(255 255 255 / 72%);
    border-radius: 25px;
}
.titulo_cont {
    display: flex;
    float: left;
    width: 95%;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    display: flex;
    width: 70%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    position: relative;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    display: flex;
    font-size: 35px;
    text-align: center;
    width: px;
    padding: 1px 15px 1px 1px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Tangerine', cursive;
    text-decoration: 3px underline;
    text-decoration-color: rgb(0, 114, 190);
}
.secsocial {
    position: fixed;
    left: 350px;
    top: 300px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.linea_img {
    width: 100%;
    background-position: center;
    padding-top: 25px;
}
}

@media only screen and (min-width: 600px) {
    .bg_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(16, 21, 29, 0.815), rgba(40, 48, 63, 0.815));
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
    height: auto;
    box-shadow: 0px -1px 15px rgb(255 255 255 / 72%);
    border-radius: 25px;
}
.titulo_cont {
    display: flex;
    float: left;
    width: 95%;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    display: flex;
    width: 70%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    position: relative;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    display: flex;
    font-size: 45px;
    text-align: center;
    width: px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Tangerine', cursive;
    text-decoration: 3px underline;
    text-decoration-color: rgb(0, 114, 190);
}
.secsocial {
    position: fixed;
    left: 350px;
    top: 200px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.linea_img {
    width: 100%;
    background-position: center;
    padding-top: 25px;
}
}

@media only screen and (min-width: 768px) {
    .bg_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(16, 21, 29, 0.815), rgba(40, 48, 63, 0.815));
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
    height: auto;
    box-shadow: 0px -1px 15px rgb(255 255 255 / 72%);
    border-radius: 25px;
}
.titulo_cont {
    display: flex;
    float: left;
    width: 70%;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    display: flex;
    width: 70%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    position: relative;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    display: flex;
    font-size: 55px;
    text-align: center;
    width: px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 120px;
    font-family: 'Tangerine', cursive;
    text-decoration: 3px underline;
    text-decoration-color: rgb(0, 114, 190);
}
.secsocial {
    position: fixed;
    left: 350px;
    top: 150px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.linea_img {
    width: 100%;
    background-position: center;
    padding-top: 25px;
}
}

@media only screen and (min-width: 996px) {
    .bg_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(16, 21, 29, 0.815), rgba(40, 48, 63, 0.815));
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
    height: auto;
    box-shadow: 0px -1px 15px rgb(255 255 255 / 72%);
    border-radius: 25px;
}
.titulo_cont {
    display: flex;
    float: left;
    width: 70%;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    display: flex;
    width: 70%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    position: relative;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    display: flex;
    font-size: 55px;
    text-align: center;
    width: px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 120px;
    font-family: 'Tangerine', cursive;
    text-decoration: 3px underline;
    text-decoration-color: rgb(0, 114, 190);
}
.secsocial {
    position: fixed;
    left: 350px;
    top: 100px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.linea_img {
    width: 100%;
    background-position: center;
    padding-top: 25px;
}
}

@media only screen and (min-width: 1200px) {
    .bg_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(16, 21, 29, 0.815), rgba(40, 48, 63, 0.815));
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 1024px;
    height: auto;
    box-shadow: 0px -1px 15px rgb(255 255 255 / 72%);
    border-radius: 25px;
}
.titulo_cont {
    display: flex;
    float: left;
    width: 70%;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    display: flex;
    width: 70%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    position: relative;
    box-shadow: 0px -2px 10px rgb(52 110 106);
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    display: flex;
    font-size: 55px;
    text-align: center;
    width: px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 120px;
    font-family: 'Tangerine', cursive;
    text-decoration: 3px underline;
    text-decoration-color: rgb(0, 114, 190);
}
.secsocial {
    position: fixed;
    left: 350px;
    top: 50px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.linea_img {
    width: 100%;
    background-position: center;
    padding-top: 25px;
}
}