/*MAX-WIDTH 600PX*/
@media only screen and (max-width: 600px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.contenedor_gral {
    width: 95%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.foto_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}
.foto_retrato img {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.contenedor_titulo {
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    margin: 10px 0 10px 0;
}
.contenedor_social {
    left: 350px;
    top: 200px;
    font-size: 24px;
}

.aside{
    top: 190px;
}

.linea_img {
    width: 100%;
}
.habilidades {
    width: 100%;
    max-width: 500px;
    padding: 0 0px;
}
}

/*MIN-WIDHT 600PX*/
@media only screen and (min-width: 600px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.contenedor_gral {
    width: 95%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.foto_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}
.foto_retrato img {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.contenedor_titulo {
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    margin: 10px 0 10px 0;
}
.contenedor_social {
    left: 350px;
    top: 150px;
    font-size: 24px;
}

.aside{
    top: 140px;
}

.linea_img {
    width: 100%;
}
}

/*MIN-WIDTH 768PX*/
@media only screen and (min-width: 768px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.contenedor_gral {
    width: 70%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.foto_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 15px 5px;
    border-radius: 20px;
}
.foto_retrato img {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.contenedor_titulo {
    font-size: 35px;
    padding: 10px 10px 10px 10px;
    margin: 25px 0 25px 0;
}
.contenedor_social {
    left: 350px;
    top: 150px;
    font-size: 24px;
}

.aside{
    top: 140px;
}

.linea_img {
    width: 100%;
}
}

/*MIN WIDTH 996PX*/
@media only screen and (min-width: 996px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.contenedor_gral {
    width: 70%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.foto_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}
.foto_retrato img {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.contenedor_titulo {
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    margin: 30px 0 30px 0;
}
.contenedor_social {
    left: 350px;
    top: 100px;
    font-size: 24px;
}

.aside{
    top: 90px;
}

.linea_img {
    width: 100%;
}
}

/*MIN WIDTH 1200PX*/
@media only screen and (min-width: 1200px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 1024px;
}
.contenedor_gral {
    width: 90%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.foto_retrato {
    width: 90%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    border-radius: 20px;
}
.foto_retrato img {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.contenedor_titulo {
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    margin: 50px 0 50px 0;
}
.contenedor_social {
    left: 350px;
    top: 50px;
    font-size: 24px;
}

.aside{
    top: 40px;
}

.linea_img {
    width: 100%;
}
}