/*MAX-WIDTH 600PX*/
@media only screen and (max-width: 600px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.titulo_cont {
    width: 95%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    font-size: 35px;
    padding: 1px 15px 1px 1px;
    margin: auto;
    margin-top: 40px;
}
.secsocial {
    left: 350px;
    top: 150px;
    font-size: 24px;
}
.linea_img {
    width: 100%;
}
}

/*MIN-WIDHT 600PX*/
@media only screen and (min-width: 600px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.titulo_cont {
    width: 95%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    font-size: 45px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 50px;
}
.secsocial {
    left: 350px;
    top: 150px;
    font-size: 24px;
}
.linea_img {
    width: 100%;
}
}

/*MIN-WIDTH 768PX*/
@media only screen and (min-width: 768px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.titulo_cont {
    width: 70%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 15px 5px;
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    font-size: 55px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 35px;
}
.secsocial {
    left: 350px;
    top: 150px;
    font-size: 24px;
}
.linea_img {
    width: 100%;
}
}

/*MIN WIDTH 996PX*/
@media only screen and (min-width: 996px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 95%;
}
.titulo_cont {
    width: 70%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    width: 70%;
    height: 90%;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    font-size: 55px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 35px;
}
.secsocial {
    left: 350px;
    top: 100px;
    font-size: 24px;
}
.linea_img {
    width: 100%;
}
}

/*MIN WIDTH 1200PX*/
@media only screen and (min-width: 1200px) {
.bg_section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 1024px;
}
.titulo_cont {
    width: 90%;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.contenedor_retrato {
    width: 90%;
    height: 90%;
    margin: 20px 5px 5px 5px;
    border-radius: 20px;
}
.img_retrato {
    width: 100%;
    min-width: 224px;
    border-radius: 20px;
}
.texto_cont {
    font-size: 55px;
    padding: 1px 10px 1px 1px;
    margin: auto;
    margin-top: 120px;
}
.secsocial {
    left: 350px;
    top: 50px;
    font-size: 24px;
}
.linea_img {
    width: 100%;
}
}